{% extends "hostal/base.html" %}
{% load static %}
{% block title %} Reservaciones {% endblock %} 



{% block stylesheets %}
<style>
#header2-u {
    align-items: center !important;
}
</style>
   
{% endblock stylesheets %}

{% block content %}

    <div class="container align-center" >
        <div class="justify-content-md-center" >
        <!--h2 style=" color: #f9b530;
                    text-shadow: 0 3 black;
                    text-shadow: 0 0 black;
                    box-shadow: brown;
                    background-color: #2d3034;
                    padding: 5px 20px;
                    border-radius: 10px;
                    }">
        Bienvenido</h2-->



</div>
</div>

{% endblock content %}



{% block javascripts %}
{% endblock javascripts %}
