<html>
{% load static %}
 <head>
   <title>Reservacion</title>
   <style>

   </style>
 </head>
 <body>
 <div style="width:100%;display:flex;justify-content:center;">

   
   <div>
      <h1>DETALLES DE LA RESERVACION</h1>
   <div style="width:100%;text-align:center;">
    <img src="http://localhost:8000/static/assets/images/logo2.jpg" alt="nicaraguacuba" style="height: 3.8rem;border-radius: 10px; opacity: .7;">
   </div> 
   <br>
   <table class="table table-striped" >
     <tbody>
         <tr>
           <td><b> A nombre de</b> </td>
           <td> {{reservacion.Nombre}} </td>
         </tr>  
         <tr>
           <td><b> Pasaporte</b> </td>
           <td> {{reservacion.Pasaporte}} </td>
         </tr>  
          <tr>
           <td><b> Email</b> </td>
           <td> {{reservacion.Email}} </td>
         </tr>  
         <tr>
           <td><b> Personas</b> </td>
           <td> {{reservacion.Personas}}&nbsp;personas </td>
         </tr>
         <tr>
           <td><b> Fecha de Entrada</b> </td>
           <td> {{reservacion.HoraEntrada}}</td>
         </tr>
         <tr>
           <td><b> Fecha de Salida</b> </td>
           <td> {{reservacion.HoraSalida}}</td>
         </tr>
         <tr>
           <td><b> Aerolinea</b> </td>
           <td> {{reservacion.Aerolinea}}</td>
         </tr>
          <tr>
           <td><b> Observaciones</b> </td>
           <td> {{reservacion.Observaciones}}</td>
         </tr>
          <tr>
           <td></td>
           <td> </td>
         </tr>
          <tr>
           <td><b> Agente que reserva</b> </td>
           <td> {{usuario}} - <a href="mailto:{{usuario.email}}">{{usuario.email}}</a>-<a href="tel:{{usuario.Telefono}}">{{usuario.Telefono}}</a></td>
         </tr>
     </tbody>

   </table>
   </div>
   </div>
 </body>
</html>