{% extends "hostal/base.html" %}
{% load static %}
{% block title %} Hostales Reserva {% endblock %} 


{% block stylesheets %}
    <link rel="stylesheet" href={% static "assets/dtpicker/jquery.datetimepicker.min.css" %} integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
    <style>
        .help{
            color:darkgreen;
        
    </style>
{% endblock stylesheets %}

{% block content %}
  
    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10" style="display: flex;
    justify-content: center;">



                <div class="media-container-column col-lg-8" data-form-type="formoid" style="background-color: rgba(255, 255, 255, 0.7);
                                                                                            padding: 40px 0px;
                                                                                            border-radius: 10px;
                                                                                            color: #403837;">
                    {% if para %}
                        se ha enviado un correo a {{para}} con informacion de la reservacion
                    {% else %}  
                        
                            {% if form.subject.errors %}
                                <ol>
                                {% for error in form.subject.errors %}
                                    <li><strong>{{ error|escape }}</strong></li>
                                {% endfor %}
                                </ol>
                            {% endif %}
                            <form method="post" enctype='multipart/form-data'>
                                {% csrf_token %}
                            <div style="text-align:left;/* width:80%; */padding: 25px;">

                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" >{{ form.Nombre.label}}&nbsp;</label>
                                            {{ form.Nombre}}
                                    
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" >No. Pasaporte&nbsp;</label>
                                            {{ form.Pasaporte}}
                                    
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" >{{ form.Email.label}}&nbsp;</label>
                                            {{ form.Email}}
                                    
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" >{{ form.Personas.label}}&nbsp;</label>
                                            {{ form.Personas}}
                                    
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" >Costo de Resrevacion</label>
                                            <b id="costo">El costo es de 550 USD</b>
                                    
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" >{{ form.HoraEntrada.label}}&nbsp;</label>
                                            {{ form.HoraEntrada}}
                                    
                                </div>     
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" >{{ form.HoraSalida.label}}&nbsp;</label>
                                            {{ form.HoraSalida}}
                                    
                                </div>                    
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" >{{ form.Aerolinea.label}}&nbsp;</label>
                                            {{ form.Aerolinea}}
                                    
                                </div> 
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" >{{ form.Imagen_Pasaporte.label}}&nbsp;</label>
                                            {{ form.Imagen_Pasaporte}}
                                            <div class="help">{{form.Imagen_Pasaporte.help_text}}</div>
                                    
                                </div> 
                                                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" >{{ form.Imagen_Pasaje.label}}&nbsp;</label>
                                            {{ form.Imagen_Pasaje}}
                                            <div class="help">{{form.Imagen_Pasaje.help_text}}</div>
                                    
                                </div> 
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" >{{ form.Observaciones.label}}&nbsp;</label>
                                            {{ form.Observaciones}}
                                    
                                </div> 

                                </div>

                                <!--///////////REPEATER///////////////-->
                                    <div id="repeater">
                                        <!-- Repeater Heading -->
                                        <div class="repeater-heading">
                                            <button id="add" class="btn btn-primary repeater-add-btn">
                                                Add
                                            </button>
                                        </div>
                                        <!-- Repeater Items -->
                                        <div class="items" data-group="test">
                                            <!-- Repeater Items Here -->
                                            
                                                    <div class="items" data-group="test">
                                                    <!-- Repeater Content -->
                                                        <div class="item-content">
                                                            <div class="form-group">
                                                            <label for="inputEmail" class="col-lg-2 control-label">Name</label>
                                                            <div class="col-lg-10">
                                                                <input type="text" class="form-control" id="inputName" placeholder="Name" data-name="name">
                                                            </div>
                                                            </div>
                                                            <div class="form-group">
                                                            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                                                            <div class="col-lg-10">
                                                            <input type="text" class="form-control" id="inputEmail" placeholder="Email" data-skip-name="true" data-name="email">
                                                            </div>
                                                            </div>
                                                        </div>
                                                        <!-- Repeater Remove Btn -->
                                                        <div class="pull-right repeater-remove-btn">
                                                            <button id="remove-btn" class="btn btn-danger" onclick="$(this).parents('.items').remove()">
                                                                Remove
                                                            </button>
                                                        </div>
                                                    </div>



                                        </div>
                                    </div>
                                <!--//////////////////////////-->




                                <span class="input-group-btn">
                                    <button href="" type="submit" class="btn btn-primary btn-form display-4">Reservar</button>
                                </span>
                                
                            </form>




                {% endif %}
            </div>

            </div>
        </div>
    </div>

{% endblock content %}



{% block javascripts %}
        <script src={% static "https://code.jquery.com/jquery-3.3.1.slim.min.js" %} integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src={% static "assets/dtpicker/jquery.datetimepicker.full.min.js" %} integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
        
        <script src="{% static 'assets/form-fields-repeater/repeater.js' %}"></script>  
        
        
        <script>
            $("#repeater").createRepeater({
                showFirstItemToDefault: true,
            });
            document.getElementById("add").addEventListener("submit", function(event){
             event.preventDefault()
            });

            $(function () {
                //e.preventDefault();
                $("#id_HoraEntrada").attr("autocomplete", "off"); 
                $("#id_HoraEntrada").datetimepicker({
                format: 'Y-m-d H:i',
                //months:["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"],
                });

                $("#id_HoraSalida").attr("autocomplete", "off"); 
                $("#id_HoraSalida").datetimepicker({
                //format: 'd/m/Y H:i',
                format: 'Y-m-d H:i',
                });

            });

            $('#id_Personas').on('change',function(){
                switch (this.value) {
                    case '1':{
                        $('#costo').html("El costo es de 550 USD")
                    }
                    break
                    case '2':{
                        $('#costo').html("El costo es de 1000 USD")
                    }
                    break
                }
                
                
                })
            
        </script>

{% endblock javascripts %}
