{% extends "hostal/base.html" %}
{% load static %}
{% block title %} Hostales Reserva {% endblock %} 


{% block stylesheets %}
    <link rel="stylesheet" href={% static "assets/dtpicker/jquery.datetimepicker.min.css" %} integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
    <style>
        .help{
            color:darkgreen;
        
    </style>
{% endblock stylesheets %}

{% block content %}
  
    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10" style="display: flex;
    justify-content: center;">



                <div class="media-container-column col-lg-8" data-form-type="formoid" style="background-color: rgba(255, 255, 255, 0.7);
                                                                                            padding: 40px 0px;
                                                                                            border-radius: 10px;
                                                                                            color: #403837;">
                    {% if para %}
                        se ha enviado un correo a {{para}} con informacion de la reservacion
                    {% else %}  
                        
                            {% if form.subject.errors %}
                                <ol>
                                {% for error in form.subject.errors %}
                                    <li><strong>{{ error|escape }}</strong></li>
                                {% endfor %}
                                </ol>
                            {% endif %}
                            <form method="post" enctype='multipart/form-data'>
                                {% csrf_token %}
                            <div style="text-align:left;/* width:80%; */padding: 25px;">

                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" >{{ form.Nombre.label}}&nbsp;</label>
                                            {{ form.Nombre}}
                                    
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" >No. Pasaporte&nbsp;</label>
                                            {{ form.Pasaporte}}
                                    
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" >{{ form.Email.label}}&nbsp;</label>
                                            {{ form.Email}}
                                    
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" >{{ form.Personas.label}}&nbsp;</label>
                                            {{ form.Personas}}
                                    
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" >Costo Diario</label>
                                            <b id="costo">El costo de reservación para una persona en una noche es 20 USD</b>
                                    
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" >{{ form.HoraEntrada.label}}&nbsp;</label>
                                            {{ form.HoraEntrada}}
                                    
                                </div>     
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" >{{ form.HoraSalida.label}}&nbsp;</label>
                                            {{ form.HoraSalida}}
                                    
                                </div>        
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" >Costo Total</label>
                                            <b id="costoTotal">Seleccione fecha y ora de entrada y salida</b>
                                    
                                </div>            
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" >{{ form.Aerolinea.label}}&nbsp;</label>
                                            {{ form.Aerolinea}}
                                    
                                </div> 
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" >{{ form.Imagen_Pasaporte.label}}&nbsp;</label>
                                            {{ form.Imagen_Pasaporte}}
                                            <div class="help">{{form.Imagen_Pasaporte.help_text}}</div>
                                    
                                </div> 
                                                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" >{{ form.Imagen_Pasaje.label}}&nbsp;</label>
                                            {{ form.Imagen_Pasaje}}
                                            <div class="help">{{form.Imagen_Pasaje.help_text}}</div>
                                    
                                </div> 
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" >{{ form.Observaciones.label}}&nbsp;</label>
                                            {{ form.Observaciones}}
                                    
                                </div> 

                                </div>



                                <span class="input-group-btn submit">
                                    <button href="" type="submit" class="btn btn-primary btn-form display-4">Reservar</button>
                                </span>
                                
                            </form>




                {% endif %}
            </div>

            </div>
        </div>
    </div>



    <!-- Esta es la plantilla de los formularios adicionales -->
<div class="form-group fieldGroupCopy" style="display: none;">

    <div class="form-group">
        <label class="form-control-label mbr-fonts-style display-7">Nombre&nbsp;</label>
        <input type="text" name="Nombrel[]" maxlength="200" required="Este campo es requerido">
    </div>

    <div class="form-group">
        <label class="form-control-label mbr-fonts-style display-7">No. Pasaporte&nbsp;</label>
        <input type="text" name="Pasaportel[]" maxlength="12" minlength="7" required=""> 
    </div>

    <div class="form-group">
        <label class="form-control-label mbr-fonts-style display-7">Imagen pasaporte&nbsp;</label>
        <input type="file" name="Imagen_Pasaportel[]" accept="image/*" required="Debe adjuntar una foto del pasaporte">
        <div class="help">Foto de la primera hoja del pasaporte</div>
    </div>

    <div class="form-group">
        <label class="form-control-label mbr-fonts-style display-7">Imagen pasaje&nbsp;</label>
        <input type="file" name="Imagen_Pasajel[]" accept="image/*" required="Debe adjuntar una foto del pasaje" >
        <div class="help">Foto del pasaje</div>
    </div>

</div>

{% endblock content %}



{% block javascripts %}
        <script src={% static "https://code.jquery.com/jquery-3.3.1.slim.min.js" %} integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src={% static "assets/dtpicker/jquery.datetimepicker.full.min.js" %} integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
        
        <script>
        //Precio de 1 persona
        let precio = 20
            $(function () {
                //e.preventDefault();
                $("#id_HoraEntrada").attr("autocomplete", "off"); 
                $("#id_HoraEntrada").datetimepicker({
                format: 'Y-m-d H:i',
                //months:["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"],
                });

                $("#id_HoraSalida").attr("autocomplete", "off"); 
                $("#id_HoraSalida").datetimepicker({
                //format: 'd/m/Y H:i',
                format: 'Y-m-d H:i',
                });

            });

            $('#id_Personas').on('change',function(){

                p=parseInt(this.value)
                //Remover subformularios siempre
                $(".fieldGroup").remove();

                

                if (p>1){
                        for(i=1;i<p;i++){
                            var fieldHTML = '<div class="form-group fieldGroup"><h3>Cliente Adicional No. '+i+'</h3>'+$(".fieldGroupCopy").html()+'</div>';
                            $('body').find('.submit').before(fieldHTML);
                        }
                }

                $('#costo').html("El costo de una noche para "+p+" personas es: "+p*precio+" USD")
                
            })
            

            var date_diff_indays = function(date1, date2) {
                dt1 = new Date(date1);
                dt2 = new Date(date2);
                return Math.floor((Date.UTC(dt2.getFullYear(), dt2.getMonth(), dt2.getDate()) - Date.UTC(dt1.getFullYear(), dt1.getMonth(), dt1.getDate()) ) /(1000 * 60 * 60 * 24));
            }
            var calcularDias = function(){
                string1 = document.getElementById("id_HoraEntrada").value
                string2 = document.getElementById("id_HoraSalida").value
                let dif = date_diff_indays(string1 , string2)

                p = parseInt(document.getElementById("id_Personas").value)
                
                if (dif<0 || Number.isNaN(dif)){
                    
                    $('#costoTotal').html("Entre un intervalo de fechas correcto")
                }else{
                    $('#costoTotal').html("El costo total de "+dif+" noches para "+p+" personas es: "+p*precio*dif+" USD")
                    

                }
            
            } 

                        //los dias para elprecio total
            $("#id_HoraSalida").on('change', calcularDias)
            $("#id_HoraEntrada").on('change', calcularDias)
            $("#id_Personas").on('change', calcularDias)


            
            
        </script>

{% endblock javascripts %}
